:root {
    --ircblack: #201E1F;
    --ircred: #FF4000;
    --ircgreen: #D2FF1D;
    --ircwhite: #F7F0F5;
    --ircgrey: #A0A083;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
    display: block;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    
}
body {
    height: 100%;
    background-color: var(--ircwhite);

}
::selection {
  background-color: var(--ircgreen);
  color: var(--ircblack);
}
.body {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: var(--ircblack);
}
.header {
    width: 100%;
    height: 80px;
    background-color: var(--ircwhite);
    filter: drop-shadow(0px 0px 16px #000000);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: rgba(255, 255, 255, 0.467) 1px solid;
    transition: all 1s;
}
.header img {
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.header span {
    width: 90px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header a {
    text-align: center;
    position: relative;
    font-weight: 700;
    transition: all 0.5s;
}
.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-height: 45px;
    background-color: var(--ircblack);
    border-bottom: rgb(182, 182, 182) 1.5px solid;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.line a {
    color: var(--ircgreen);
    font-size: 12px;
}

.header a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 3;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: var(--ircgreen);
transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
    opacity: 0;
  }
  #logo_icon::after {
    display: none;
  }
  #logo_icon:hover {
    transform: none;
  }
  .header a:hover:after { 
    width: 100%; 
    left: 0; 
    opacity: 1;
    
  }
  .header a:hover {
    font-weight: 900;
    transform: scale(1.1);
  }
  #menulogo {
    transition: all 1s;
  }
#menulogo:hover {
    transform: scale(1.08);
}
.firstcont {
    background-color: black;
}
.firstcont iframe {
    position: absolute;
    transform: scale(1.3);
    filter: blur(5px);
    opacity: 0.5;
    z-index: -1000 !important;
    user-select: none;
    pointer-events: none;
}
.secondcont {
    padding: 50px;
}
.firstcont h1 {
   font-size: 500%;
}
.firstcont h2 {
    font-weight: 500;
    color: #D2FF1D;
 }
.innerfirst {
    color: var(--ircwhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 88vh;
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
    cursor: default;

}
.innerfirst a {
    display: inline-block;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--ircblack);
    color: var(--ircwhite);
    border-radius: 21px;
    margin: 10px;
font-weight: 600;
z-index: 2;
transition: 0.5s;
cursor: default;

}
.innerfirst a:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 9px var(--ircwhite));
}

.innerfirst span {
    margin-top: 40px;
    filter: drop-shadow(0px 0px 8px #00000088);
    cursor: default;

}
#watchbut {
    color: var(--ircblack);
    background-color: var(--ircwhite);
}
.secondcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    padding: 70px;
}
.newhere {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 380px;
    border: #000000 solid 2px;
    border-radius: 40px;
    margin: 10px;
    background-color: rgb(10, 10, 10);
    color: white;
    transition: 0.5s;
}
.newhere h1 {
    font-size: 45px;
    text-align: center;
}
.newhere a {
    display: inline-block;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(29, 29, 29);
    color: var(--ircgreen);
    border-radius: 21px;
    margin: 10px;
font-weight: 600;
z-index: 2;
transition: 0.5s;
font-size: larger;
}
.newhere a:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 9px var(--ircgreen));
    background-color: var(--ircgreen);
    color: var(--ircblack);
}
.locations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.campusone, .campustwo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 300px;
    height: 380px;
    border: #000000 solid 2px;
    border-radius: 40px;
    margin: 10px;
    color: white;
    padding: 20px;
    transition: 0.5s;
}
.campusone {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgb(0, 0, 0)), url('../media/431226233_396144086368994_2140055117771132730_n.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.campustwo {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgb(0, 0, 0)), url('../media/everett.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.campusone h2, .campustwo h2 {
    font-size: 30px;
    color: var(--ircgreen);
}
.campusone h3, .campustwo h3 {
    padding: 10px;
    background-color: var(--ircgreen);
    color: #000000;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.campusone a, .campustwo a {
    color: var(--ircgreen);
    margin: 10px;
    margin-left: 20px;
}
.campusone span, .campustwo span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
}
.campusone:hover {
    filter: drop-shadow(0px 0px 30px var(--ircgreen));

}
.campustwo:hover {
    filter: drop-shadow(0px 0px 30px var(--ircgreen));

}
.secondinn h1 {
    font-size: 72px;
}
.secondinn h2 {
    font-weight: 500;
}
.secondinn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.campusone:hover, .campustwo:hover, .newhere:hover {
 transform: scale(1.05);
}
.thirdcont {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 10, 10, 0.95);
    height: 500px;
    color: var(--ircgreen);
    font-size: 24px;
    background-position-y: center;
    overflow: hidden;
    padding-bottom: 40px;
}
.thirdcont h1 {
    width: 70%;
    text-align: center;
    margin-top: 40px;
    color: var(--ircwhite);
} 
.thirdcont::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 300%;
    z-index: -1;
    background-image: url('../media/update-arrows.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
-webkit-animation-name: rotate;
-webkit-animation-duration:15s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-moz-animation-name: rotate;
-moz-animation-duration:15s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;

}

@-webkit-keyframes rotate {
from {-webkit-transform:rotate(0deg);}
to {  -webkit-transform:rotate(360deg);}
}

@-moz-keyframes rotate {
from {-moz-transform:rotate(0deg);}
to {  -moz-transform:rotate(360deg);}
}
.fourthcont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    padding: 100px;
    overflow: hidden;
}
.latest {
    font-weight: 500;
    margin-bottom: 50px;
}
.buttons {
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


/* THIS IS REVIEW CONTAINER */
:root {
    --swiper-theme-color: black !important;
    --swiper-navigation-size: 16px !important;
}
.slider {
    width: 100%;
}
.swiper-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-wrapper {
 
    cursor: default !important;
    
}
            .swiper-slide  {
            
            }
 .swiper-pagination, .swiper-button-next, .swiper-button-prev {
     position: unset !important;
 }
 .swiper-button-next, .swiper-button-prev {
    background-color: #101010;
     color: rgb(255, 255, 255)   !important;
     margin: 2px;
     padding: 20px !important;
     border-radius: 20px;
     font-weight: bolder;
 }
.card  {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    width: 400px;
    height: 550px;
    border: var(--ircblack) solid 1px;
    border-radius: 40px;
    background-color: rgb(10, 10, 10);
    color: var(--ircgreen);
    transition: 0.5s;
    padding: 25px;
    overflow: hidden;
}
.card h3 {
    font-weight: 300;
    font-size: 12px;
    z-index: 2;
}
.card h2 {
    font-size: 30px;
    z-index: 2;
}
.card a {
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
    z-index: 2;
}
.card img {
    position: relative;
    width: max-content;
    height: 150%;
    bottom: -50%;
    opacity: 0.8;
    align-self: center;
}
.card:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 30px var(--ircgreen));
}
.swiper-pagination {
    padding-top: 30px;
    text-align: left !important;
}
.swiper-slide-prev, .swiper-slide-duplicate-active, .swiper-slide-duplicate-prev {
    opacity: 0  !important;
}
.swiper-slide {
    transition: 0.5s all !important;
}
.card iframe {
        position: relative;
        transform: scale(2);
        opacity: 0.8;
        pointer-events: none;
        z-index: 1;
    }


/* SLIDER END*/

.fivecont {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 70px;
    transition: all 0.5s;
}
.fivecont h1 {
    font-size: 72px;
}
.fivecont h2 {
    font-weight: 400;
}
.fiveinner a:hover {
    background-color: var(--ircgreen)
}
.groupone {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
}
.grouptwo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.fivecont a {
    font-size: 32px;
    font-weight: 500;
    text-decoration: underline;
    transition: all 0.5s;
}
.groupone p {
    width: 500px;
    font-size: 16px;
    text-align: right;
    line-height: 1.4;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 500px;
}
.grouptwo p {
    width: 500px;
    font-size: 16px;
    text-align: left;
    line-height: 1.4;
    padding-top: 10px;
    padding-bottom: 20px;
}
#imgconnect {
    margin-top: -100px;
    width: 800px;
}
.fivecont {
    overflow: hidden;
}
.fivecont h1 {
    background-color: var(--ircgreen);
}
.fiveinner {
    display: flex;
    flex-direction: row;
    transition: all 0.5s;
    
}
.sixcont {
    display: flex;
    flex-direction: row;
    height: 500px;
    background-color: rgb(10, 10, 10);
    color: white;
    overflow: hidden;
}
.sixcont h1 {
    font-size: 72px;
}
.sixcont h2 {
    font-weight: 400;
    color: var(--ircgreen);
}
#pastorpht {
    width: 900px;
    background-image: url("../media/pastor.jpg");
    background-position: center 10%;
    background-repeat: no-repeat;
    background-size: cover;
}
.sixinner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 70px;
    padding-right: 200px;
}
.sixinner p {
    line-height: 1.5;
    margin-top: 50px;
    width: 1000px;
}
.sevencont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url("../media/431226233_396144086368994_2140055117771132730_n.jpg");
    background-position: center;
    background-attachment: fixed;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 10px;
}
.footer img {
    width: 100px;
    margin: 20px;
}
.footer p {
    margin: 40px;
    font-weight: 600;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
}
.links a {
    color: white;
    padding: 10px;
}
.links i {
    padding-right: 10px;
}
.soclinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 40px;
}
.soclinks a {
    color: white;
    padding: 10px;
    font-weight: 600;
}
.soclinks i {
    padding-right: 10px;
}
.givebox {
    width: 45%;
    background-color: var(--ircgreen);
    height: 350px;
    border-radius: 40px;
    color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.givebox h1 {
    font-size: 500%;
 }
 .givebox h2 {
     font-weight: 500;
  }
  .givebox i {
    margin-left: 10px;
  }
  .givebox a {
    display: inline-block;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(29, 29, 29);
    color: white;
    border-radius: 21px;
    margin: 10px;
font-weight: 600;
z-index: 2;
transition: 0.5s;
font-size: larger;
margin-top: 50px;
}
.givebox a:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 15px var(--ircgreen));
}
.fiveinner a:hover {
    transform: scale(1.1);
}
.givebox:hover {
    transform: scale(1.025);
}

.extracont {
    display: flex    ;
    justify-content: center;
    align-items: center;
    height: 500px;
padding-top: 50px;
padding-bottom: 50px;
}
.extracont h1 {
    font-size: 48px;
}
.extracont .givebox {
    width: 40%;
    margin: 15px;
    padding: 30px;
    text-align: center;
}






#menuToggle
{
  display: none;
  position: relative;

  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{   
    z-index: 1;
  text-decoration: none;
  color: #ebebeb;
  
  transition: color 0.3s ease;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 4; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #030303;
  border-radius: 3px;
  
  z-index: 3;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #e4e4e4;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
    display: none;
  position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  width: 100vw;
  height: 100ch;
  margin: -100px 0 0 -10px;
  padding: 50px;
  padding-top: 125px;
  z-index: 2;
  
  background: #1a1a1a;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  display: flex;
}

/* VISIT PAGE */

.contone {
    width: 100%;
    height: 400px;
    background-image: url('../media/431263348_396144009702335_4017410600136057083_n.jpg');
    background-position: center;
    background-attachment: fixed;
    color: var(--ircgreen);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contone h1 {
    font-size: 72px;
}
.conttwo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
    
}
.conttwo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conttwo h1 {
    margin-top: 25px;
    background-color: #D2FF1D;
}
.conttwo h2 {
    padding-top: 15px;
}
.imgconttwo {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: right;
    border-radius: 50%;
}
.conttwo iframe {
    padding-top: 30px;
}

/* I-TEAMS PAGE */
.contteams {
    padding: 50px;
}
.contteamsins {
    display: flex;
    flex-direction: column;
}
.contteams h1, h2 {
    text-align: center;
}
.contteams h2 {
    padding-bottom: 50px;
}
#i-teams {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.i-teams__groups {
    display: flex;
    width: 400px;
    margin: 20px;
}
.i-teams__leader {
    background-color: var(--ircgreen);
}
.i-teams__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 40px;
}
.i-teams__header_container {
    display: none;
}
.i-teams__groups a {
    color: black !important;
}
/* EVENTS AND BLOG PAGE */


.eventone {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eventoneins {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
       align-items: center;
    width: 100%;
    
}
.eventblock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 310px;
    height: 420px;
    background-color: #101010;
    margin: 20px;
    border-radius: 30px;
    color: white;
    padding: 20px;
    overflow: hidden;
}
.eventblock h2 {
    color: var(--ircgreen);
}
.eventblock img {
    height: 350px;
    border-radius: 17px;
    margin-bottom: 20px;
    justify-self: flex-start;
    align-self: center;
}
.eventblock span {
    margin: 5px;
    background-color: #e4e4e4;
    color: black;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}
.blockins {
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.eventblock a {
    margin: 15px;
    background-color: #e4e4e4;
    color: black;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    align-self: center;

}
/* Sermons */

.sermons {
    width: 100%;
    background-color: #030303;
    color: #ebebeb;
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sermonblock {
    display: flex;
    width: 350px;
    flex-direction: column;
    padding: 20px;
}
.sermonblock a {
    background-color: var(--ircgreen);
    width: 150px;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    transition: all 1s;
}
.sermonblock a:hover {
    filter: drop-shadow(0px 0px 10px var(--ircgreen));
}
.sermonblock h3 {
    margin: 10px;
}
.sermonblock img {
    border-radius: 15px;
}
.sermonblock span {
    font-weight: 400;
    font-size: 15px;
    margin: 10px;
}

/* Prayer Form page */

.prayercont {
    background-color: #101010;
    display: flex;
    width: 100%;
    justify-content: center;
}
form {
    width: 90%;
    max-width: 900px;
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 5px;
    resize: none;
    overflow-y: auto;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  
  .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 1rem;
    color: #121212;
    line-height: 1;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    width: 100%;
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: transparent;
    color: #fff;
  }
  
  .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .input-container span:before,
  .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #101010;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-container span:before {
    left: 50%;
  }
  
  .input-container span:after {
    right: 50%;
  }
  
  .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  
  .input-container.focus span:before,
  .input-container.focus span:after {
    width: 50%;
    opacity: 1;
  }
  
  
  @media (max-width: 850px) {
    .form {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 480px) {
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn {
      padding: 0.45rem 1.2rem;
    }
  }
  
/* GIVING PAGE */

.giving {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.givingins {
    text-align: center;
}
.giving p {
    
    max-width: 600px;
}
.givingblock {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    border: #000000 1px solid;
    border-radius: 20px;
}
.givingblock a {
    margin: 15px;
    margin-left: 0px;
    background-color: var(--ircblack);
    color: var(--ircgreen);
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}

/* MEDIA CHANGES */

@media only screen and (max-width: 768px) {
    .header a {
        display: none;
    }
    #menu a {
        display: inline;
    }
    #logo_icon {
        display: block !important;
    }
    .innerfirst {
        text-align: center;
    }
    .innerfirst h1 {
        font-size: 40px;
    }
    .innerfirst h2 {
        font-size: 21px;
    }
    .firstcont iframe {
        transform: scale(3.5);
        filter: blur(2px);
    }
    .locations {
        flex-direction: column;
    }
    .newhere {
        height: 190px;
    }
    .thirdcont h1 {
        font-size: 32px;
    }
    .thirdcont p {
        font-size: 16px;
    }
    .thirdcont::after {
        width: 200%;
    }
    .fourthcont {
        padding: 20px;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
    .card {
        width: 100%;
        justify-self: center;
    }
    .swiper-pagination {
        text-align: center !important;
    }
    .latest {
        margin-bottom: 18px;
    }
    .fivecont {
        padding: 20px;
        padding-bottom: 50px;
        overflow: hidden;
    }
    .fivecont h1 {
        line-height: 0.7;
        margin-bottom: 25px;
        text-align: center;
    }
    .fivecont h2 {
        text-align: center;
        align-self: center;
    }
    .fiveinner {
        flex-direction: column-reverse;
    }
    #imgconnect {
        width: 400px;
        z-index: -1;
        margin-top: 20px;        
    }
    .groupone, .grouptwo {
       width: 80%;
        flex-wrap: wrap;
        align-items: center;
    }
    .groupone p, .grouptwo p {
       display: none;
    }
    .groupone a, .grouptwo a {
        font-size: 26px;
     }
     .sixcont {
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
     }
     .sixinner {
        text-align: center;
        padding: 20px;
        padding-right: 0;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
        padding-top: 40px;
     }
     .sixinner p {
        width: 90%;
        font-size: 16px;
    }
    .sixinner span {
        display: none;
    }
    #pastorpht {
        width: 100%;
        height: 300px;
        background-size: cover;
    }
    .sixcont h1 {
        font-size: 42px;
    }
    .sevencont {
        height: 500px;
        background-image: url("../media/431226233_396144086368994_2140055117771132730_n.jpg");
    }
    .givebox {
        width: 80%;
        padding: 40px;
        
    }
    .footer {
        flex-direction: column;
        padding-bottom: 30px;
    }
    .givebox h2 {
        font-size: 21px;
    }
    .links, .footer p {
        display: none;
    }
    .soclinks {
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .extracont {
        flex-direction: column;
        height: auto;
    }
    .extracont .givebox {
        width: 90%;
    }
    #menuToggle
{
  display: block;
}	
    .campusone:hover, .campustwo:hover, .card:hover
     {
        filter: none;
     }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .firstcont iframe {
        transform: scale(2.5);
        filter: blur(3px);
    }
    .newhere, .campusone, .campustwo {
        width: 230px;
    }
    .newhere h1 {
        font-size: 36px;
    }
    .campusone a, .campustwo a {
        display: none;
    }
    .thirdcont::after {
        width: 180%;
    }
    .fourthcont {
        padding: 20px;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
    .card {
        justify-self: center;
    }
    .swiper-pagination {
        text-align: center !important;
    }
    .latest {
        margin-bottom: 18px;
    }
    .extracont {
        flex-direction: column;
    }
    #menuToggle
{
  display: block;
}	
@media only screen and (min-width: 1280px) {
    /* */
}	
@media only screen and (min-width: 1536px) {
  /* */
}
}